# Python Basic Assignment: Solution_20

#### 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
#Answer:

test1 = "This is a test of the emergency text system"

text_file = open("test.txt", "w")

text_file.write(test1)

text_file.close()

#### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
#Answer:

f = open("test.txt", "r")

test2 = f.readline()
test2

'This is a test of the emergency text system'

In [3]:
test1 == test2  #no difference between test1 and test2

True

#### 3. Create a CSV file called books.csv by using these lines:
- title,author,year
- The Weirdstone of Brisingamen,Alan Garner,1960
- Perdido Street Station,China Miéville,2000
- Thud!,Terry Pratchett,2005
- The Spellman Files,Lisa Lutz,2007
- Small Gods,Terry Pratchett,1992

In [4]:
#Answer:

import csv

header = ["title", "author", "year"]

row = [['The Weirdstone of Brisingamen','Alan Garner',1960], 
       ['Perdido Street Station', 'China Miéville',2000], 
       ['Thud!', 'Terry Pratchett', 2005],
       ['The Spellman Files', 'Lisa Lutz' ,2007],
       ['Small Gods', 'Terry Pratchett' ,1992]]

with open('books.csv', 'w', encoding='UTF8', newline='') as f:
    writer = csv.writer(f)
    
    #write header
    
    writer.writerow(header)
    
    #write data 
    
    writer.writerows(row)

#### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [ ]:
#Answer:

import sqlite3
con = sqlite3.connect('books.db')

#creating cursor

cur = con.cursor()

# Create table
cur.execute('''CREATE TABLE books
               (title text, author text, year integer)''')

#commit chnages

con.commit()

#### 5. Read books.csv and insert its data into the book table.

In [40]:
#Answer:

#creating a connection

conn = sqlite3.connect("books.db")
print("Connection to DB successfull")

#creating a cursor
cur = conn.cursor()

#Opening books.csv
a_file = open("books.csv")

#reading rows of csv file
rows = csv.reader(a_file)

#query execution
cur. executemany("INSERT INTO books VALUES (?, ?, ?)", rows)

cur. execute("SELECT * FROM books")

#Fetching data from db
print(cur.fetchall())

#committing changes
con.commit()

Connection to DB successfull
[('title', 'author', 'year'), ('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Perdido Street Station', 'China MiÃ©ville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007), ('Small Gods', 'Terry Pratchett', 1992), ('title', 'author', 'year'), ('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Perdido Street Station', 'China MiÃ©ville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007), ('Small Gods', 'Terry Pratchett', 1992)]

#### 6. Select and print the title column from the book table in alphabetical order.

In [47]:
#Answer:

#creating a connection

conn = sqlite3.connect("books.db")
print("Connection to DB successfull")

#creating a cursor
cur = conn.cursor()

##query execution
cur. execute("SELECT title FROM books order by title asc")

#Fetching data from db
print(cur.fetchall())

#committing changes
con.commit()

Connection to DB successfull
[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',), ('title',)]

#### 7. From the book table, select and print all columns in the order of publication.

In [48]:
#Answer:

#creating a connection
conn = sqlite3.connect("books.db")
print("Connection to DB successfull")

#creating a cursor
cur = conn.cursor()

##query execution
cur. execute("SELECT * FROM books order by year asc")

#Fetching data from db
print(cur.fetchall())

#committing changes
con.commit()

Connection to DB successfull
[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Small Gods', 'Terry Pratchett', 1992), ('Perdido Street Station', 'China MiÃ©ville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007), ('title', 'author', 'year')]

#### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [57]:
#Answer:
from sqlalchemy import create_engine

#creating engine
engine = create_engine('sqlite:///books.db') 

#Connecting to the Database 
engine.connect()

print(engine)

Engine(sqlite:///books.db)

#### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [62]:
#Answer:

#### 10. Increment the count field of test and print it.

In [ ]:
#Answer: